body {
    color: #222;
    background: #fff;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.title {
    font-weight: bold;
    color: black;
}

.main_content {
    background-color: white;
}

nav {
    background-color: #0073b7;
    padding-top: 15px;
    font-size: 24px;
    color: white;
    height: 65px;
    border-bottom: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;

    
}

nav > a {
    color: white;
    margin-right: 10px;
}

.hero {
    background-color: #0073b7;
    color: white;
    font-size: 14px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.hero a {
    color: white;
    text-decoration: underline;
}

.hero-inner {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.pypi-stats {
    padding: 10px 0px;
    background-color: #ececec;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}

.pypi-stats .stat {
    min-width: 170px;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #003d61;
}